.notification{
  width: 100px;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification a{
  text-align: center;
  width: 100%;
}

.avatar-box{
  text-align: center;
  width: 100%;
  padding: 5px;
}

.notification-dropdown-menu{
  position: absolute;
  top: 40px;
  width: 100px;
  height: auto;
}


.order-number span{
  font-size: 18px;
}

.order-box{
  width: 40px;
  height: 30px;
  border-radius: 50%;
}